body
{
  background-color: powderblue;
  font-family: sans-serif;
}

p
{
  background-color: skyblue;
  font-family: sans-serif;
}

p.author
{
  color: firebrick;
}

h1
{
  color: white;
  font-family: sans-serif;
  font_size: 30pt;
  background-image: url(https://s3-external-1.amazonaws.com/youvisit-img/Assets/img/locations/80030/1280_profile.jpg?v=1545422256);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1:hover
{
  color: yellow;
}

h3
{
  color: white;
  font-family: sans-serif;
}

h3:hover
{
  color: firebrick;
}
